*{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
 body{
  background-color: #737576;
 }


.product {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: block;
}

.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity span {
  margin: 0 10px;
}

.total {
  margin-bottom: 10px;
}

.basketTotalContainer {
  margin-top: 20px;
  text-align: right;
}

.basketTotalTitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.basketTotal {
  font-weight: bold;
  font-size: 20px;
}
.cart-btn span {
  padding-left: 5px;
  font-size: 16px;
  vertical-align: bottom;
}
.cart-btn ion-icon {
  vertical-align: bottom;
  padding-right: 5px;
  font-size: 20px;
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: #000;
  text-decoration: none;
  color:#737576; 
  border-radius: 5px;
}

a:hover {
  background-color: #fff;
  transition: 1s;
}