@keyframes fadeinall {
  0% {
    opacity: 1; }
  97% {
    opacity: 0; }
  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: -1; } }
  #fadein {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: #737576;
    z-index: 999;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: fadeinall 1s normal both;
    animation: fadeinall 1s normal both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.5s; }

    *{
      font-family:Georgia, 'Times New Roman', Times, serif;
    }

    html {
      scroll-behavior: smooth;
    }

    body{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #737576;
    }
     section{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* border: solid 1px red; */
      width: 100%;
      height: 90vh;
     }

    
    .menu-links{
      width: 100%;
      height: 300px;
      margin-top: 10px;
      display: flex;
      text-align: center;

      justify-content: flex-start;
      /* margin-top: -450px; */
      
    }
     .menu-btn{
      /* margin-top: 20px; */
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
     }
    .menu-btn a{
      box-shadow: 2px 3px #000,  0 .1em #000;
      font-size: 18px;
      border: solid 1px #000;
      border-radius: 7px;
      background-color: #fff;
      text-decoration: none;
      color: #000;
      padding: 5px 5px;
      margin: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    }

   
   


     img{
      width: 100%;
      max-width: 600px;
      height: auto;
     }

     .menu-img{
      height: max-content;
     }

     .menu-img img{
      
      width: 350px;
      height: 100%;
      object-fit: cover;
     }

     .demo{
      
      display: flex;
      flex-direction: column;
     }

     .demo a {
      margin-top: 30px;
      bottom: 20px;
      left: 50%;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #000;
      font : normal 400 20px/1 ;
      letter-spacing: .1em;
      text-decoration: none;
      transition: opacity .3s;
    }
    .demo a:hover {
      opacity: .5;
    }

    #section05 a {
      padding-top: 70px;
      font-family:'Times New Roman', Times, serif;
      font-weight: 800;
    }
    #section05 a span {
      position: absolute;
      margin-top: 18px;
      left: 50%;
      width: 12px;
      height: 12px;
      margin-left: -7px;
      border-left: 2.5px solid #fff;
      border-bottom: 2.5px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb05 1.5s infinite;
      animation: sdb05 1.5s infinite;
      box-sizing: border-box;
    }
    @-webkit-keyframes sdb05 {
      0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }
    @keyframes sdb05 {
      0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }

   

    .swiper {
      width: 100%;
      height: 80%;
    }

 
    .swiper-slide {
      text-align: center;
      font-size: 18px;
    }

    .swiper-slide img {
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }

    label {
      cursor: pointer;
      /* border: solid 1px red;  */
      margin-top: 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    
      
      
    }
  

    
    /* Hide the checkbox while still keeping its property */
    input {
      display: none;
     
    
    }
    
    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
    background-color: transparent;
    /* border: 1px solid #f1f1f1; */
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    
    }
    
    /* This container is needed to position the front and back side */
    .flip-card-inner {
    position: relative;
    width: 250px;
    height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
    }
    
    /* Do an horizontal flip when you click over the flip box container */
    :checked + .flip-card-inner {
    transform: rotateY(180deg);
    transition: 1.5s;
    }
    
    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    }
    .flip-card-inner, .flip-card-front img{
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 7px;
      backface-visibility: hidden;
    }
  
    .flip-card-front{
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .flip-card-front p{
      position: relative;
      top: 20%;
     margin-right: 140px;
     padding: 2px;
      /* background-color: #737576; */
      background-color: #000;
      color: #fff;
      /* border: solid 1px #000; */
      border-radius: 7px;
      font-size: 15px;
      z-index: 1;
      backface-visibility: hidden;
    }
    
/* Style the back side */
.flip-card-back {
  display: flex;
  height: 300px;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: #000;
  transform: rotateY(180deg);
  padding-top: 10px;
  font-size: 1em;
}

/* Swiper js */
.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide {
  font-size: 18px;
  /* border: solid 1px red;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next, .swiper-button-prev{
 
  color: #000 !important;
    fill: black !important;
    stroke: black !important;
}

  


   
    h1{
      border-radius: 7px;
     padding: 7px;
      overflow: scroll;
      font-size: 16px;
      line-height: 16px;
      background-color: #000;
      color: #fff;
    }
    h2{
      padding: 5px;
      font-family:Georgia, 'Times New Roman', Times, serif
    }
    h2, h3{
      margin: 0;
       font-size: 20px;
     }
     
   
    h3{
      /* border: solid 1px #000;
      width: 150px;
     margin: 18px;
      /* border-radius: 5px; */
      color: #000;
      --b: 2px;   /* thickness of the border */
      --c: #000;   /* color of the border */
      --w: 10px;  /* width of border */
      
    
      border: var(--b) solid #0000; /* space for the border */
      --_g: #0000 90deg,var(--c) 0;
      --_p: var(--w) var(--w) border-box no-repeat;
      background:
        conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
        conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
      
      /*Irrelevant code*/  
      width:120px;
      height:100px;
      box-sizing:border-box;
      margin:15px;
      display:inline-flex;
      font-size:20px;
      justify-content:center;
      align-items:center;
      text-align:center;
    }

    h3:hover{
      opacity: 0.5;
      transition: 0.2s;
    }
    h5:hover{
      background-color: #fff;
      transition: 0.5s;
    }
    .swiper-slide h6{
      font-size: 35px;
      margin: 0;
      color: #fff;
      font-family: 'Times New Roman', Times, serif;
      text-shadow: #000 1px 0 10px; 
      border-bottom: solid 1px #fff;
    }

    .menu-links h6{
      font-size: 20px;
      margin-top: 0;
      color: #fff;
      font-family: 'Times New Roman', Times, serif;
      text-shadow: #000 1px 0 10px;  
      }
     
      h5{
        background-color: #737576;
        font-size: 17px;

      }

   

    .hidden {
      display: none;
    }
    
   
   
    

/* Footer */
.footer {
  position: relative;
  width: 100%;
  background: #000;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  padding: 0;
}  
.social-icon__item {
  list-style: none;
}    
.social-icon__link {
  font-size: 3rem;
  color: #737576;
  margin: 10px 30px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
.footer a{
  color: #737576;
}  
.footer p {
  color: #737576;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
} 
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("img/wave.png");
  background-size: 1000px 100px;
}  
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}
.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}
.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}  
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
    
    
    
    
    